.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}
.inputBox{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}
.inputBox:focus
{
    box-shadow: 0 0 10px 1000px rgb(50, 50, 50);
    outline: none;
}
.inputSubmit{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: rgb(166, 166, 242);
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}
.inputSubmit:hover {
    background-color: rgb(157, 157, 243);;
}
.inputSubmit:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}